.section {
  padding: 100px 0;
  background: linear-gradient(180deg, #FFFDDA 0%, rgba(255, 253, 218, 0) 83.7%, rgba(255, 253, 218, 0) 100%);
}

.section h1 {
  font-size: 28px;
}

.section hr {
  margin: 30px 0;
}

@media (max-width: 767.98px) {
  .section {
    padding: 40px 0;
  }
}